<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizmaniafruits"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.quizmania.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quizmania.activities.LevelChooser"
            android:label="@string/title_activity_language"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.quizmania.activities.QuizLevelViewer"
            android:label="@string/title_activity_fruit_viewer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.quizmaniafruits.ElementChooser"
            android:label="@string/title_activity_element_chooser" >
        </activity>
    </application>

</manifest>